footer {

    .futer {
        display: flex;
    }

    .icon123 {
        display: flex;
        justify-content: space-between;
    }
    .tube{
        margin-left: 900px;
        display: flex;
        gap: 36px;
    }
}